@font-face {
  font-family: Graduation ;
  src: url(./font/good_times/Good\ Times\ Rg.otf);
}

@font-face {
  font-family: Julin ;
  src: url(./font/Julius_Sans_One/JuliusSansOne-Regular.ttf);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}




.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111;
  color: #fff;
  padding: 10px 30px;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  position: absolute;
  width: 100%;
  top: 0;
  font-family: Julin;
 
}

#logo {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.header h2 {
  margin: 0;
  font-size: 20px;
  flex: 1;
  padding-left: 10px;
}
h2{
  font-family: Graduation;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

.nav-links a:hover {
  color: #f4a300;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f2f2f2;
  
}

h1 {
  
}

.stickman-wrapper {
  position: relative;
  width: 15rem;
  z-index: -1;
 
 
}
#wrapper {
  display: grid;
  grid-template-columns: auto auto;
}

.base-figure {
  width: 100%;
  background-color: #f2f2f2;
}

.clothing-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

.config {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  margin: auto;
  width: 15rem;
  background: linear-gradient(135deg, #ffffff, #f0f0f0);
  border: 2px #111 solid;
  border-radius: 10px;
}

label {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  margin: 4%;
}

.config label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  background-color: #111;
  padding: 0.3rem;
  border-radius: 7px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}

.config label:hover {
  background-color: #f8f8f8;
  border-color: #aaa;
  color: #111;
}

.config select {
  font-size: 0.7rem;
   padding: 3% 4%;
  border-radius: 5px;
  border: 1px solid #999;
  background-color: #fdfdfd;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  font-family: Julin;
  max-width: 5rem;
  min-width: 5rem;
}

.config select:focus {
 background-color: #f4a300;
  outline: none;
  box-shadow: 0 0 8px white;
  
  color: white;
}


/*Gewand:*/

#shirt{
  width: 95%;
  margin-top: 40%;
  margin-left: 4%;
  z-index: 2;
}

#pants{
  width: 57%;
  margin-top: 120%;
  margin-left: 27%;
  z-index: 1;
}
#shoes{
  width: 85%;
  margin-top: 182%;
  margin-left: 12%;
}
#accessory{
  width: 80%;
  margin-top: -65%;
  margin-left: 12%;
}