@font-face {
  font-family: Graduation ;
  src: url(./font/good_times/Good\ Times\ Rg.otf);
}

@font-face {
  font-family: Julin ;
  src: url(./font/Julius_Sans_One/JuliusSansOne-Regular.ttf);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow: hidden;
  
}




.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111;
  color: #fff;
  padding: 10px 30px;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  position: absolute;
  width: 100%;
  top: 0;
  font-family: Julin;
  
}

#logo {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.header h2 {
  margin: 0;
  font-size: 20px;
  flex: 1;
  padding-left: 10px;
}
h2{
  font-family: Graduation;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}
.return{
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}
.return:hover{
  color: #f4a300;
}

.nav-links a:hover {
  color: #f4a300;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f2f2f2;
  
  
  
}
.nav-links{
 align-items: center;
 justify-content: center;
}


.stickman-wrapper {
  position: relative;
  width: 15rem;
  z-index: 1;
  overflow: visible;
 
 
}
#wrapper {
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 10%;
  overflow: visible;
  margin-left: auto;
  margin-right: auto;
}

#wrapper2 {
  display: grid;
  margin-bottom: 10%;
  overflow: visible;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%; grid-template-columns: auto auto auto;
}
.base-figure {
  width: 100%;
  background-color: transparent;
}

.clothing-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

.config {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  margin: auto;
  width: 15rem;
  background: linear-gradient(135deg, #ffffff, #f0f0f0);
  border: 2px #111 solid;
  border-radius: 10px;
}

label {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  margin: 4%;
}

.config label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  background-color: #111;
  padding: 0.3rem;
  border-radius: 7px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}

.config label:hover {
  background-color: #f8f8f8;
  border-color: #aaa;
  color: #111;
}

.config select {
  font-size: 0.7rem;
   padding: 3% 4%;
  border-radius: 5px;
  border: 1px solid #999;
  background-color: #fdfdfd;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  font-family: Julin;
  max-width: 5rem;
  min-width: 5rem;
}

.config select:focus {
 background-color: #f4a300;
  outline: none;
  box-shadow: 0 0 8px white;
  color: white;
}


/*Gewand:*/
.tshirt-style{
  width: 95%;
  margin-top: 40%;
  margin-left: 4%;
  z-index: 2;

}
.hemd-style{
  width: 80%;
  margin-top: 30%;
  margin-left: 13%;
  z-index: 2;
}
.jeans-style{
  width: 57%;
  margin-top: 120%;
  margin-left: 26%;
  z-index: 1;
}
.trousers-style{
  width: 87%;
  margin-top: 102%;
  margin-left: 11%;
  z-index: 1;
}

.sneaker-style{
  width: 86%;
  margin-top: 182%;
  margin-left: 12%;
 
}
.loafer-style{
  width: 86%;
  margin-top: 134%;
  margin-left: 12%;
 
}
.fischerhut-style{
  width: 80%;
  margin-top: -65%;
  margin-left: 12%;
}
.krawatte-style{
  width: 80%;
  margin-top: 54.5%;
  margin-left: 15.5%;
  z-index: 10;

}


/*Gewand Ende*/


#info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem auto;
  width: 80rem;
  height: 20rem;
  background: linear-gradient(135deg, #ffffff, #f4f4f4);
  border: 2px solid #111;
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
 
 
}

#info h2 {
  font-size: 1.4rem;
  font-weight: bold;
  background-color: #111;
  color: white;
  padding: 0.5rem;
  border-radius: 8px;
  text-align: center;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}


#info #text {
  font-size: 0.9rem;
  font-family: Arial, sans-serif;
  color: #222;
  background-color: #fff;
  border-radius: 7px;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05);
  line-height: 1.6;
  text-align: justify;
}

#info-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 90%;
  margin: 2rem auto;
  padding: 1.5rem;
  background: linear-gradient(135deg, #fff, #f5f5f5);
  border: 2px solid #111;
  border-radius: 10px;
 height: 40rem;
  font-family: Arial, sans-serif;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

#info-section h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  background-color: #111;
  padding: 0.5rem;
  border-radius: 8px;
  text-align: center;
}

#info-section p {
  font-size: 1.2rem;
  color: #222;
  line-height: 1.6;
  background-color: #fff;
  padding: 0.6rem 0.8rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-shadow: inset 0 0 4px rgba(0,0,0,0.05);
}

#info-section blockquote {
  margin: 1.5rem 0 0;
  padding: 1rem;
  font-style: italic;
  color: #7b4b2a;
  background-color: #fef2e0;
  border-left: 4px solid #7b4b2a;
  border-right: 4px solid #7b4b2a;
  border-radius: 6px;
}

#infoBox{
  margin-top: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 60%;
 margin-left: auto;
 margin-right: auto;
  padding: 0.5rem;
  background: linear-gradient(135deg, #fff, #f5f5f5);
  border: 2px solid #111;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  height: auto;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
#infoBox h2{
   transition: all 0.5s ease-in-out;
}
#infoBox strong{
   transition: all 0.5s ease-in-out;
}


#infoBox:hover h2{
  color: #f4a300;
}

#infoBox strong:hover{
 font-size: 1.05rem;
 
}

#back-button{
  background-color: #111;
  padding: 1rem;
  text-align: center;
  width: 15%;
  color: white;
  border-radius: 8px;
  margin-right: 5%;
  transition: all 0.8s linear;
  text-decoration: none;
}

#back-button:hover{
  color: #111;
  transform: scale(1.2);
  background-color: white;
  border: 3px #111 solid;
}

#start-button{
  background-color: #111;
  padding: 1rem;
  text-align: center;
  width: 15%;
  color: white;
  border-radius: 8px;
  
  transition: all 0.8s linear;
  text-decoration: none;
}

#start-button:hover{
  color: #111;
  transform: scale(1.2);
  background-color: white;
  border: 3px #111 solid;
}
.submit-button{
  background-color: #111;
  padding: 1rem;
  text-align: center;
  width: 10rem;
  height: 10%;
  color: white;
  border-radius: 8px;
 
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.8s linear;
  font-family: Arial, sans-serif;
}
.submit-button:hover{
  color: #111;
  transform: scale(1.2);
  background-color: white;
  border: 3px #111 solid;

}

.points-display {
  z-index: 1000;
  display: none; /* Erst sichtbar, wenn JS das ändert */
  margin: 2rem auto;
  padding: 1rem 2rem;
  width: 20rem;
  height: 30%;
  background: linear-gradient(135deg, #ffffff, #f0f0f0);
  border: 2px solid #111;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: 'Julin', sans-serif;
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 40%;
  top: 25%;
  bottom: 25%;
  right: 40%;
}

.points-display h2 {
  margin-top: 10%;
  font-size: 1.3rem;
  color: #111;
  margin-bottom: 0.5rem;
}

#points {
  font-size: 2rem;
  font-weight: bold;
  background-color: #111;
  color: white;
  padding: 0.4rem 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.close-btn {
  position: absolute;
  top: 6px;
  right: 8px;
  background: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: #111;
  transition: color 0.2s ease;
  
}

.close-btn:hover {
  color: #f4a300;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.5);
  z-index: 9;
}

.blur {
  backdrop-filter: blur(10px);
  transition: filter 0.3s ease;
}

#playAgain-button{
  background-color: #111;
  padding: 1rem;
  text-align: center;
  width: 10rem;
  height: 10%;
  color: white;
  border-radius: 8px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.8s linear;
  font-family: Arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}
#playAgain-button:hover{
  color: #111;
  transform: scale(1.2);
  background-color: white;
  border: 3px #111 solid;
}
#boxy{
  width: 15rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 2rem;
  margin-top: auto;
  margin-bottom: auto;
}

/* login*/

.auth-button {
  background-color: #111;
  color: white;
  padding: 0.4rem 0.8rem;
  margin-left: 0.5rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

.auth-button:hover {
  background-color: #f4a300;
  color: #111;
}

.auth-container {
  max-width: 350px;
  margin: 5rem auto;
  padding: 2rem;
  border: 2px solid #111;
  border-radius: 10px;
  background: linear-gradient(135deg, #ffffff, #f0f0f0);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.auth-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.auth-container input {
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #999;
}

.auth-container button {
  background-color: #111;
  color: white;
  border: none;
  padding: 0.6rem;
  border-radius: 8px;
  cursor: pointer;
}

.auth-container button:hover {
  background-color: #f4a300;
  color: #111;
}
#bait{
  text-decoration: none;
  color: #111;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: all 0.3s ease;
}
#bait:hover{
  color: #f4a300;
  text-decoration: underline;
  transform: scale(1.1);
}
#handling{
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 5%;
}
/*Responsive:*/
/* ------------------- Responsive Design ------------------- */

@media (max-width: 1200px) {
  *{
    overflow: visible;
  }

  #info {
    width: 90%;
  }

  #info-section {
    height: auto;
  }
}

@media (max-width: 992px) {
  .nav-links {
    flex-direction: column;
    gap: 10px;
  }

  #info {
    flex-direction: column;
    height: auto;
    width: 95%;
  }

  #infoBox {
    margin-top: 30%;
    width: 90%;
  }

  .points-display {
    width: 80%;
    left: 10%;
    right: 10%;
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .nav-links {
    align-items: flex-start;
  }

  .config,
  #boxy {
    width: 100%;
    margin-top: 10%;
  }

  #wrapper {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  #wrapper2 {
     grid-template-columns: 1fr;
    gap: 2rem;
  }

  .stickman-wrapper {
    width: 100%;
    margin: auto;
    margin-top: 10%;
  }

  #info,
  #info-section,
  #infoBox {
    width: 95%;
  }

  #back-button,
  #start-button {
    width: 80%;
    margin: 1rem auto;
  }

  .submit-button,
  #playAgain-button {
    width: 80%;
  }

  .points-display {
    width: 90%;
    left: 5%;
    right: 5%;
    top: 20%;
  }

  #handling {
    grid-template-columns: 1fr;
    margin-top: 2rem;
    gap: 1rem;
  }
}

@media (max-width: 480px) {
  .header h2 {
    font-size: 1.2rem;
  }

  .nav-links a {
    font-size: 0.9rem;
  }

  .config label {
    font-size: 0.8rem;
  }

  .config select {
    max-width: 80%;
    width: 80%;
  }
  #select-accessory{
    max-width: 78%;
  }

  #info h2,
  #info-section h2 {
    font-size: 1.2rem;
  }

  #info #text,
  #info-section p {
    font-size: 0.9rem;
  }

  #points {
    font-size: 1.5rem;
  }
}
